@font-face {
  font-family: Play-Fair;
  src: url(../../assets/fonts/PlayfairDisplay-Regular.ttf) format(TrueType);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Play-Fair;
  src: url(../../assets/fonts/PlayfairDisplay-Medium.ttf) format(TrueType);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Play-Fair;
  src: url(../../assets/fonts/PlayfairDisplay-Bold.ttf) format(TrueType);
  font-style: bold;
  font-weight: 700;
}
