@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/breakpoints" as *;

// .roulette {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding-bottom: 2rem;

//   &__filter-wrap {
//     width: 100%;
//     height: 3rem;
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
//     margin: 2rem 0;

//     @include tablet {
//       height: 5rem;
//     }
//   }

//   &__filter-option {
//     height: 50%;
//     margin-bottom: 1rem 0;
//     width: 8rem;
//     text-align: center;
//     border-radius: 4px;
//     background-color: $color-brand-light;
//     color: $color-brand-dark;
//     @include tablet {
//       width: 12rem;
//       font-size: 1rem;
//     }
//   }

//   &__wheel-wrap {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     overflow: hidden;
//   }

//   &__button {
//     margin-top: 2rem;
//     width: 50%;
//     border-radius: 4px;
//     border: none;
//     box-shadow: 1px 2px 2px $color-brand-light;
//     padding: 0.5rem;
//     background-color: $color-brand-light;
//     color: $color-brand-dark;
//   }
// }

.roulette {
  display: flex;
  flex-direction: column;

  &__filter-wrap {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;

    @include tablet {
      height: 5rem;
    }
  }

  &__filter-option {
    height: 50%;
    margin-bottom: 1rem 0;
    width: 8rem;
    text-align: center;
    border-radius: 4px;
    background-color: $color-brand-light;
    color: $color-brand-dark;
    @include tablet {
      width: 12rem;
      font-size: 1rem;
    }
  }

  &__slider {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: $color-brand-light;
  }

  &__image-container {
    display: flex;
    transition: transform 4s ease;
    width: 10%;
  }

  &__image {
    width: 100%;
    height: auto;
    margin: 0.5rem;
  }

  &__button-wrap {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
  }

  &__button {
    transform: translateY(-50%);
    display: flex;
    margin: 4rem;
    width: 10%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    border: 1px solid $color-brand-dark;
    box-shadow: 1px 2px 2px;
    padding: 0.5rem;
    background-color: $color-brand-light;
    color: $color-brand-dark;
  }
}
