@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/breakpoints" as *;

.roulette {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //remove ^

  height: 75vh;
  // remove ^

  &__filter-wrap {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;

    @include tablet {
      height: 5rem;
    }
  }

  &__filter-option {
    height: 100%;
    //remove ^
    margin-bottom: 1rem 0;
    width: 8rem;
    text-align: center;
    border-radius: 4px;
    background-color: $color-brand-light;
    color: $color-brand-dark;
    @include tablet {
      width: 12rem;
      font-size: 1rem;
    }
  }

  &__slider {
    display: flex;
    width: 100%;
    height: 1200vh;
    // remove ^
    overflow-x: hidden;
    position: relative;
    background-color: $color-brand-light;

    @include tablet {
      &:before {
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        content: "";
        z-index: 2;
        left: 0;
        background: linear-gradient(
          to left,
          rgba(255, 255, 255, 0),
          $color-brand-light
        );
      }
      &:after {
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        content: "";
        z-index: 2;
        right: 0;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0),
          $color-brand-light
        );
      }
    }
  }

  &__selector {
    width: 3rem;
    &--reversed {
      transform: rotate(180deg);
    }
  }

  &__selector-wrap {
    display: flex;
    justify-content: space-evenly;
  }

  &__image-container {
    display: flex;
    transition: transform 4s ease;
    width: 60vw;
    height: 40vh;
    margin: 2rem 0;
  }

  &__image {
    height: 100%;
    margin: 0 0.5rem;
  }

  &__button-wrap {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
  }

  &__button {
    transform: translateY(-45%);
    display: flex;
    margin: 4rem;
    width: 30%;
    height: 40%;
    // remove^
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    border: 1px solid $color-brand-dark;
    box-shadow: 1px 2px 2px;
    padding: 0.5rem;
    background-color: $color-brand-light;
    color: $color-brand-dark;
    font-size: 1.2rem;
  }
}
