@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/breakpoints" as *;

.home {
  background-color: $color-brand-dark;
  color: $color-brand-tertiary;
  height: 100vh;

  &__header {
    font-size: 1.5rem;

    @include tablet {
      font-size: 2rem;
    }
  }
  &__text {
    font-size: 0.8rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    max-width: $desktop-width;
    margin: auto;
  }

  &__image-wrap {
    width: 50%;
  }

  &__image {
    width: 100%;
  }

  &__info-wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1rem;

    @include tablet {
      font-size: 2rem;
      margin-bottom: 5rem;
    }
  }

  &__inner-wrap {
    display: flex;
    padding-left: 1rem;

    @include tablet {
      flex-direction: column;
      width: 100%;
    }
  }

  &__director-wrap {
    flex-direction: row;
    width: 50%;
    align-self: center;
    padding: 0 0.5rem;

    @include tablet {
      margin-bottom: 3rem;
    }
  }

  &__director {
    font-weight: 500;
    text-align: left;
    margin: 0.5rem 0;
    font-size: 0.8rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__genre-wrap {
    flex-direction: row;
    width: 50%;
    align-self: center;
    padding: 0 0.5rem;
  }
  &__genre {
    font-weight: 500;
    text-align: left;
    margin: 0.5rem 0;
    font-size: 0.8rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__trailer-wrap {
    display: flex;
    justify-content: space-evenly;
  }

  &__description {
    font-weight: 500;
    margin: 1rem;
    padding: 1rem 0;
    font-size: 0.8rem;
    max-width: $desktop-width;
    text-align: center;

    @include tablet {
      margin: auto;
      font-size: 1.5rem;
      padding: 3rem 0;
    }
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.button {
  width: 50%;
  border-radius: 4px;
  border: 1px solid $color-brand-light;
  box-shadow: 1px 2px 2px $color-brand-light;
  padding: 0.5rem;
  background-color: $color-brand-light;
  color: $color-brand-dark;
}

.trailer {
  width: 100%;

  &__window {
    width: 55vw;
    height: 35vh;
  }

  &__window-large {
    @include tablet {
      height: 500px;
    }
  }
}
.popup-overlay {
  background: rgba(19, 24, 44, 0.7);
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}

.movie-scroller {
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  background-color: $color-brand-light;
  margin: auto;

  &__item {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: $desktop-width;
  }

  &__item-wrap {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    animation: moveLeftRight 10s linear infinite;
  }

  &__image {
    height: 80%;
  }
}
