@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.single-movie {
  background-color: $color-brand-dark;
  color: $color-brand-light;

  &__wrap {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
  }

  &__image-wrap {
    width: 50%;
  }

  &__image {
    width: 100%;
  }

  &__info-wrap {
    width: 50%;
  }
  &__title {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  &__inner-wrap {
    display: flex;
    padding-left: 1rem;
  }

  &__director-wrap {
    flex-direction: row;
    width: 50%;
    align-self: center;
    padding: 0 0.5rem;
  }

  &__director {
    font-weight: 500;
    text-align: left;
    margin: 0.5rem 0;
  }

  &__genre-wrap {
    flex-direction: row;
    width: 50%;
    align-self: center;
    padding: 0 0.5rem;
  }
  &__genre {
    font-weight: 500;
    text-align: left;
    margin: 0.5rem 0;
  }
  &__description {
    font-weight: 500;
    margin: 1rem;
  }
  &__reviews-wrap {
    background-color: $color-brand-light;
    color: $color-brand-dark;
  }
}
