@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.single-movie {
  background-color: $color-brand-dark;
  color: $color-brand-light;

  &__wrap {
    display: flex;
  }

  &__image-wrap {
    width: 50%;
  }

  &__info-wrap {
    width: 50%;
  }
  &__title {
    font-weight: 600;
    margin-top: 0;
  }
  &__director {
    font-weight: 500;
  }
  &__genre {
    font-weight: 500;
  }
  &__description {
    font-weight: 500;
    margin: 0;
  }
}
