@use "../../styles/partials/variables" as *;

.header {
  &__wrap {
    background-color: $color-brand-dark;
  }

  &__logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    overflow: hidden;
  }
  &__logo {
    object-fit: cover;
    width: 100%;
  }

  &__nav-wrap {
    background-color: $color-brand-light;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
  }

  &__link {
    color: $color-brand-dark;
    text-decoration: none;
    font-weight: 600;
  }
}
