@use "./styles/partials/typography";
@use "./styles/partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  font-family: Montserrat;
  background-color: $color-brand-dark;
}
